.tag {
  display: inline-block;
  font-size: 0.8rem;
  padding: 0.25rem 0.5rem;
  background-color: #f3f4f6;
  color: #1f2937;
  border: 1px solid #d1d5db;
  border-radius: 6px;
  font-weight: 500;
}
