.button {
	padding: 0.5rem 1rem;
	background-color: #573abd;
	color: white;
	border: none;
	border-radius: 8px;
	font-size: 1rem;
	cursor: pointer;
	transition: background-color 0.2s ease;
}

.button:hover {
	background-color: #333;
}
